{% extends 'core/base.html'%}
{% load static %}
 
{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%  static 'core/img/banner.jpg' %}" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Conoce las nuevas tendencias</span>
                    <span class="section-heading-lower">Xbox Partner Review 2024 </span>
                </h2>
                <p class="mb-3 parrafo">Para la tercera edición de este programa, dimos otro vistazo a algunos juegos notables de Xbox 2025, como Wuchang: Fallen Feathers y Like a Dragon: Pirate Yakuza en Hawái. También tendremos un vistazo más profundo a un DLC The Lake House de Alan Wake 2.</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Conoce mas aqui!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Quiere saber</span>
                        
                    </h2>
                    <p class="parrafo mb-0">Aventurate en un inmenso universo lleno de increibles historias</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}